<html>

<head>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script>
angular.module('app', []);

angular.module('app')
  .controller('DemoController', function($scope, $q, $http){
  
  var storedCars = [];
  var storedTimeslots = [];
  
  $scope.Jcars = [];

  // $http.get('http://smartninja.betoo.si/api/CMW/cars').then(function(success){
  //   $scope.Jcars = success.data;
  // }, function(error){    
  // });
  
  // $http.get('http://smartninja.betoo.si/api/CMW/timeslots').then(function(success){
  //   $scope.Jtimeslots = success.data;
  // }, function(error){    
  // });

  $http.get('http://smartninja.betoo.si/api/CMW/cars').then(function(cars){
    storedCars = cars;
    return $http.get('http://smartninja.betoo.si/api/CMW/timeslots');
  }, function(error){
    console.log('No cars received.');
    return false;
  }).then(function(timeslots){
    storedTimeslots = timeslots;
    timeslots.forEach(function(timeslot){
      console.log('timeslot found!'+timeslot.id);
    })
  })

  
});
</script>
</head>

<body ng-app="app">

  <div class="container" ng-controller="DemoController">
    <div class="row">
      <div class="col-xs-12 well">        
        <div class="well" ng-repeat="timeslot in timeslots">
          {{timeslot}}
            <!-- <p>{{ car.name }}</p>
            <p>{{ car.description }}</p>          
            <img ng-src="{{ car.image }}" class="img-responsive" />
            <ul>
                <li ng-repeat="timeslot in timeslots | filter:{carId:car.id}">
                    <p>Free on {{ timeslot.date }} at {{ timeslot.time }} for {{ timeslot.duration }} days.</p>
                </li> 
            </ul>  --> 
        </div>   

             
      </div>
    </div>
  </div>


<!--  
var storedCars = [];
var storedTimeslots = [];

$http.get('.../cars').then(function(cars){
  storedCars = cars;

  return $http.get('.../timeslots');

}, function(error){alert('nismo pridobili avtomobilov')})

.then(function(timeslots){
  storedTimeslots = timeslots;

  timeslots.forEach(function(timeslot){

    for (var i = 0; i < storedCars.length; i++)
    {
      if(storedCars[i].id == timeslot.carId)
      {
         timeslot.linkedCar = storedCars[i];
      }
    }

  });

  $scope.timeslots = timeslots;
  $scope.isLoading = false;
})


//  Html
<p ng-repeat="timeslot in timeslots">

 <b>{{ timeslot.linkedCar.name }}</b>
</p>







</body>

</html>