<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script>    
    angular.module('app', []);
    angular.module('app')
      .controller('MlbSavings', function($scope){

        $scope.title = "Savings";
        $scope.calculateSavings = function(i){
            var mi = $scope.monthly_input;
            var months = $scope.months;
            var ir = $scope.interest_rate;
            var calculation = (mi * (1 + ir / 100)) * months;
            $scope.result = calculation;
        }
    });

    angular.module('app')
      .controller('MlbPayouts', function($scope){
        $scope.title = "Payouts";
        $scope.calculateSavings = function(i){
            var mi = $scope.monthly_output;
            var months = $scope.months;
            var calculation = (mi * months);
            $scope.result = calculation;
        }
    });

  </script>
</head>
<body ng-app="app">
<div ng-controller="MlbSavings" class="container"> 
    <div class="col-sm-12"> 
        <h1>MLB</h1>
        <h3>{{ title }}</h3>
    </div>
    <div class="col-sm-3">
        <input type="text" class="form-control" ng-model="monthly_input" placeholder="mesečno vplačilo" />
    </div>
    <div class="col-sm-3">
        <input type="text" class="form-control" ng-model="months" placeholder="št mesecev" />
    </div>  
    <div class="col-sm-3">
        <input type="text" class="form-control" ng-model="interest_rate" placeholder="mesečna obrestna mera" />
    </div>     
    <button class="btn btn-primary" ng-click="calculateSavings()">Izračunaj</button><br clear="all">
    <div class="col-sm-6"> 
        <h4 class=" bg-success" style="padding:15px;margin-top:10px;">
          {{ result }}
        </h4> 
    </div>
</div>
<div ng-controller="MlbPayouts" class="container"> 
    <div class="col-sm-12"> 
        <h3>{{ title }}</h3>
    </div>
    <div class="col-sm-3">
        <input type="text" class="form-control" ng-model="monthly_output" placeholder="mesečno vplačilo" />
    </div>
    <div class="col-sm-3">
        <input type="text" class="form-control" ng-model="months" placeholder="št mesecev" />
    </div>     
    <button class="btn btn-primary" ng-click="calculateSavings()">Izračunaj</button><br clear="all">
    <div class="col-sm-6"> 
        <h4 class=" bg-success" style="padding:15px;margin-top:10px;">
          {{ result }}
        </h4> 
    </div>
</div>
</body>
</html>