<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script>    
    angular.module('app', []);
    angular.module('app')
      .controller('Mlb', function($scope){

        $scope.title = "MLB";
        $scope.calculateSavings = function(i){
            var mi = $scope.monthly_input;
            var smonths = $scope.smonths;
            var ir = $scope.interest_rate;
            var scalculation = (mi * (1 + ir / 100)) * smonths;
            $scope.sresult = scalculation;
        }
        $scope.calculatePayout = function(i){
            var mi = $scope.monthly_output;
            var pmonths = $scope.pmonths;
            var pcalculation = (mi * pmonths);
            $scope.presult = pcalculation;
        }
    });
  </script>
</head>
<body ng-app="app">
<div ng-controller="Mlb" class="container"> 
    <div class="col-sm-12"> 
        <h1>{{title}}</h1>
        <h3>Varčevanje</h3>
    </div>
    <div class="col-sm-3">
        <input type="number" class="form-control" ng-model="monthly_input" placeholder="mesečno vplačilo" />
    </div>
    <div class="col-sm-3">
        <input type="number" class="form-control" ng-model="smonths" placeholder="št mesecev" />
    </div>  
    <div class="col-sm-3">
        <input type="number" class="form-control" ng-model="interest_rate" placeholder="mesečna obrestna mera" />
    </div>     
    <button class="btn btn-primary" ng-click="calculateSavings()">Izračunaj</button><br clear="all">
    <div class="col-sm-6"> 
        <h4 class=" bg-success" style="padding:15px;margin-top:10px;">
          {{ sresult }}
        </h4> 
    </div>
    <br clear="all">
    <div class="col-sm-12"> 
        <h3>Izplačila</h3>
    </div>
    <div class="col-sm-3">
        <input type="number" class="form-control" ng-model="monthly_output" placeholder="mesečno vplačilo" />
    </div>
    <div class="col-sm-3">
        <input type="number" class="form-control" ng-model="pmonths" placeholder="št mesecev" />
    </div>     
    <button class="btn btn-primary" ng-click="calculatePayout()">Izračunaj</button><br clear="all">
    <div class="col-sm-6"> 
        <h4 class=" bg-success" style="padding:15px;margin-top:10px;">
          {{ presult }}
        </h4> 
    </div>
</div>
</body>
</html>